/**
 * utils.scss
 */

/**
 * For use in an ::after selector to create a
 * fixed background image to apply filter/opacity.
 */
@mixin bgImage($depth) {
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: $depth;
}

/**
 * Centers the content of the element both
 * horizontally and vertically using flexbox.
 */
@mixin centerize() {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.beta {
  // display: none;
}