/**
 * settings.scss
 */

// Colors
$color-teal-light: #70c4cc;
$color-coral: #f58771;
$color-teal-dark: #008f94;
$color-peach: #fbcca9;

// Fonts
$font-family-header: 'Lobster', cursive;
$font-family-body: 'ABeeZee', sans-serif;
$font-size-header: 1.8rem;

// Sizing
$size-marker: 40px;

// Opacity
$opacity-track: 0.85;
$opacity-track-hover: 0.95;